@import "tailwindcss";

:root {
  --background: #F4F1E8;
  --foreground: #0F3D3E;
  --primary: #0F3D3E;
  --accent: #A3FF12;
  --accent-hover: #92e610;
  --message-user: #eaf5e1;
  --message-ai: #ffffff;
  --sidebar-bg: #ece9df;
  --border-color: rgba(15, 61, 62, 0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-message-user: var(--message-user);
  --color-message-ai: var(--message-ai);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-border-color: var(--border-color);

  --font-sans: var(--font-inter);
}

body {
  background: white !important;
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow: hidden;
  /* Hide main scrollbar for app-like feel */
}

/* Custom Scrollbar for inner components */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(247, 249, 245);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(242, 245, 239);
}